
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('b3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}


.container {
    width: 100%;
    max-width: 1200px;
    border-radius: 8px;
    background-color: #fff;
    border: 3px solid #00d7c3;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all .15s ease-in-out;
    color: #00d7c3;
    box-sizing: border-box;
}


h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #00d7c3;
    font-size: 1.5rem;
}


.form-wrapper {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
}


.box {
    flex: 1 1 45%; 
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    min-width: 250px; 
}


.personal-info-box {
    color: #00d7c3;
}


.appointment-details-box {
    color: #00d7c3;
}


.box h2 {
    text-align: center;
    color: #00d7c3;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.box input, .box select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
}

.box label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-size: 1rem;
}


.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.error-message::before {
    content: "⚠️ ";
    font-size: 16px;
    vertical-align: middle;
}


.submit-button {
    position: relative;
    display: block;
    margin: 20px auto 0; 
    width: 160px;
    padding: 10px;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    background: none;
    color: #00d7c3;
    border: 2px solid #00d7c3;
    cursor: pointer;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    transition: .02s .2s cubic-bezier(.1, 0, .1, 1);
    z-index: 1;
}

.submit-button::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #00d7c3;
    transition: .3s .2s cubic-bezier(.1, 0, .1, 1), left .3s cubic-bezier(.1, 0, .1, 1);
    z-index: -1;
}

.submit-button::after {
    content: "";
    display: inline-block;
    background-image: url('https://cdn-icons-png.flaticon.com/128/109/109617.png');
    position: absolute;
    top: 0;
    left: calc(100% - 3em);
    right: 3em;
    bottom: 0;
    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position: center;
    transition: right .3s cubic-bezier(.1, 0, .1, 1);
}

.submit-button:hover {
    padding: 0.5em 3.5em 0.5em 0.5em;
}

.submit-button:hover::before {
    left: calc(100% - 3em);
    right: 0;
    transition: .3s cubic-bezier(.1, 0, .1, 1), left .3s .2s cubic-bezier(.1, 0, .1, 1);
}

.submit-button:hover::after {
    right: 0;
    transition: right .3s .2s cubic-bezier(.1, 0, .1, 1);
}


@media (max-width: 800px) {
    .form-wrapper {
        flex-direction: column;
        gap: 10px;
    }
    
    .box {
        width: 100%;
        margin-bottom: 10px;
    }
    
    .submit-button {
        margin: 20px auto;
        width: 100%; 
        max-width: 320px; 
    }
}
